<%- include('partials/header') %>


<h2>Race du jour</h2>

<p><%= race.player_number%> inscrits pour la race du <%= race.date %> sur le jeu <%= race.game.name %></p>

<ul>
    <% for (const user of race.users) { %>
    <li><%= user.pseudo %></li>
    <% } %>
</ul>

<% if (!isSubscribed && user) { %>
<form action="/subscribe" method="post">
    <button name="subscribe" value="<%= race.id %>">S'inscrire à cette race</button>
</form>
<% } else if (isSubscribed && user) { %>
<form action="/unsubscribe" method="post">
    <button name="unsubscribe" value="<%= race.id %>">Se désinscrire de cette race</button>
</form>
<% } %>

<%- include('partials/footer') %>